body {
  background-color: lab(72.7% 18.13 -1.68);
  color: rgb(255, 255, 255);
}
.icon {
  fill: aliceblue;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  margin-right: 10px;
}
.icon {
  fill: rgb(246, 248, 251);
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  margin-right: 10px;
}

.icon {
  fill: rgb(246, 248, 251);
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  margin-right: 10px;
}
section {
  background-color: var(--selection-color);
}
section:nth-child(2n) {
  background-color: hsl(hfrom var(--selection-color) h s calc(1 - 20));
}
.color-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.color-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.svg-rosa circle {
  fill: rgb(182, 89, 135);
}
.svg-pink circle {
  fill: rgb(155, 35, 87);
}
