body {
  background-color: lab(72.7% 18.13 -1.68);
  color: rgb(255, 255, 255);
}
.icon {
  fill: aliceblue;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  margin-right: 10px;
}
.icon {
  fill: aliceblue;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  overflow: visible;
  margin-right: 10px;
}
